body {
	padding-bottom:150px;
	margin:0px;
}

@font-face {
	font-family: 'Wellbutrin';
	src: url('Wellbutrin.woff2') format('woff2'),
		url('Wellbutrin.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

header {
	background-color:#000000;
	margin:0px;
	clear: both;
	color: #228811 !important;
	height: 80px;
	position: sticky;
	top:0px;
}


header h2 {
	float:right;
}

header h1 {
	float:left;
}

h1 a {
	font-family: 'Wellbutrin';
	color: #228811 !important;
	text-decoration: none;
	margin:0px;
	margin-left: 30px;
}

.center {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	clear:both;
}

a[name] {
  position:relative;
  top: -100px;
}